*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
google-services.json
keystore.properties
*.jks
*.keystore
.kotlin/
fdroid-pages.env
